* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

   
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: white;
        color: blue;
        }
        
        main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        }

        /* Cabeçalho */
        .card-header {
            width: 100%;
            text-align: center;
            background-color: lightblue;
        }

       /* fim  Cabeçalho */

       /* Conteudo */
        .container {

            max-width: 800px;
            padding: 50px;
            text-align: center;
            display: flex;
            }

          /* Calculo */  
    .valores {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        }

        .valores input {
            width: 250px;
            height: 30px;
            }
        
button {
    height: 50px;
    width: 300px;
    padding: 10px 12px;
}

.resultado {
    margin: 2 5 10 1 px;
    color: black;
   /*  border: 2px solid 
    black; */
    padding-left: 10px;
    
}

/* Fim calculo */

/* Carrossel */
.carrossel {
    max-width: 1050px;
    max-height: 1200px;
}

.carrossel p {
    color: lightblue;
}

h5 {
    color: lightblue;
    text-shadow: 1px 1px black;
    
}


h4 {
    line-height: 85px;
}

/* Fim do conteudo */

footer {
    background-color: lightblue;
    padding: 30px;
}

@media only screen and (max-width: 1023px) {
    img {
      width: 100%;
    }
    .carousel-inner{
        width: 100%;
        height: 100%;
        
    }
    .container{
        height: 1100px;
    }
    
    body {
        width: 100vh;
        height: 100vh;
    }
}


@media only screen and (max-width: 440px) {
    img {
      width: 100%;
      height: 100%;
    }
    .carousel-inner{
        width: 100%;
        height: 100%;
        
    }
    .container{
        height: 1100px;
    }
    
    body {
        width: 100vh;
        height: 100vh;
    }
}